<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html>
	<h1> User Sign Up </h1>

	<form method = 'POST' action = '/'>
		<input placeholder="user name" name = "username"></input>
		<input placeholder="password" name = "password"></input>
		<input placeholder="email" name = "email"></input>
		<button type = "submit">submit</button>
	</form>


	<div class = "if_they_posted">
		{{post_id}}
		{%for alert in alerts%}
			{{alert}}
		{%endfor%}
	</div>

	<button onclick = "/login">login page</button>

</html>